{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark my-1 py-1 px-1 rounded" style="border: 1px solid #5b60b5;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/OnlyFlans.png' %}" alt="OnlyFlans Logo" class="img-fluid" style="max-width: 150px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <hr id="menu-line" class="d-sm-none d-block w-100">
      <div class="navbar-nav me-auto">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'welcome' %}">Bienvenido</a>
        {% endif %}
        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
        <a class="nav-link" href="{% url 'about' %}">Acerca</a>
        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
      </div>

      {% if user.is_authenticated %}
      <hr id="menu-line" class="d-sm-none d-block w-100">
      <div class="d-flex justify-content-center align-items-center">
        <p class="fs-6 mb-0 sm-margin me-3 text-white text-capitalize">Bienvenid@ {{ user.get_username }}</p>
        <a class="btn btn-danger btn-md sm-margin" href="{% url 'logout' %}">Cerrar Sesión</a>
      </div>
      {% else %}
      <hr id="menu-line" class="d-sm-none d-block w-100">
      <div class="navbar-nav">
        <a class="btn_sessions btn btn-primary btn-md me-2 sm-margin" href="{% url 'login' %}">Iniciar Sesión</a>
        <a class="btn_sessions btn btn-success btn-md me-2 sm-margin" href="{% url 'registro_usuario' %}">Registro</a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
