{% extends "parts/base.html" %}

{% block title %}Registro de Usuarios{% endblock %}

{% block content %}
<h1>Registro de Usuarios</h1>
<hr>

<div class="row d-flex justify-content-center align-items-center">
    <div class="col col-xl-10 caja-form-reg">
        <div class="card rounded-card shadow-lg">
            <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://media.istockphoto.com/id/1281150061/vector/register-account-submit-access-login-password-username-internet-online-website-concept.jpg?s=612x612&w=0&k=20&c=9HWSuA9IaU4o-CK6fALBS5eaO1ubnsM08EOYwgbwGBo="
                        alt="registration form" class="img-fluid rounded-img" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-2 p-lg-5 text-black">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="mb-3 text-start">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>

                            <div class="mb-3 text-start">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            
                            <div class="mb-3 text-start">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                            </div>

                            <div class="mb-3 text-start">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                            </div>

                            <div class="pt-1 mb-4">
                                <button type="submit" class="btn btn-dark btn-lg btn-block">Enviar</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
