{% extends "base.html" %}

{% block title %}Registro exitoso{% endblock %}

{% block content %}
<h1>
    <center>
        <b>Gracias por contactarte con OnlyFlans,<br>
            te responderemos en breve</b>
            <br>
            <a href="{% url 'index' %}" class="btn btn-primary">Volver al Inicio</a>
            <br style="margin: 20px 0;">
        <img src="https://static-00.iconduck.com/assets.00/success-icon-512x512-qdg1isa0.png" alt="Enviado correctamente" style="height: 200px;">
        <hr style="margin:4% ;">
    </center>
</h1>
{% endblock %}
