:root {
    --azul-flan-color: #7076cf;
    --secondary-flan-color: #ffd4c0;
    --letras-color: #fff9f6;
    --light-grey: #6060604a;
    --dark-grey: #2a2a2ada;
    
}

* {
    font-family: 'cabin';
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px 0;
}

/* NAVBAR */
#navbarNavAltMarkup {
    background-color: var(--azul-flan-color);
    padding: 15px 5px;
    border-radius: 5px 5px 2px 2px;
}

.navbar-nav .nav-link, #nav_welcome{
    color: var(--letras-color);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#nav_welcome{
    margin: 0 15px;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-flan-color);
}

/* .navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    filter: invert(1);
} */

.navbar-nav a {
    color:var(--letras-color);
}
.navbar{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: var(--dark-grey);
    padding-top: 15px;
}

/* CARDS */
#card_flanes {
    margin: 15px 0;
    height: 400px;
}
#card_flanes .card-img-top {
    height: 70%; /* Ajusta la altura de la imagen dentro de la tarjeta */
    object-fit: cover; /* Asegura que la imagen cubra el espacio */
}
.card-title {
    text-align: center;
    font-weight: bold;
}
.card-text {
    text-align: justify;
}


/* LINEAS */
hr {
    margin: 1px;
    height: 0,5pt;
    color:var(--light-grey) !important;
    opacity: 1;
}

/* FORMULARIO */
form { /* caja de formulario*/
    margin-top: 20px;
}
#img-form{ /* img col derecha*/
    width: 60%;
}
.custom-label{ /*clases de labels personalizados */
    margin: 100px !important;
}
.form-control { /*clases de widgets personalizados */
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #ffebe2;
}
textarea.form-control {
    resize: none;
    height: 25%
}

/* BOTONES */
.btn-azul {
    margin: 15px 0;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: var(--azul-flan-color);
    padding: 20px 0;
    border-radius: 2px 2px 0 0;
    color: var(--letras-color);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

