:root {
    --primary-flan-color: #7076cf;
    --secondary-flan-color: #CFBB70;
    --base-flan-color: #71738F;
}

.header-color {
    background-color: var(--secondary-flan-color);
}

#contenedor_flanes {
    margin-bottom: 50px;
}

#card_flanes{
    margin-bottom: 20px;
}

#card_flanes {
    height: 400px; /* Aumenta la altura de las tarjetas */
}

#card_flanes .card-img-top {
    height: 70%; /* Ajusta la altura de la imagen dentro de la tarjeta */
    object-fit: cover; /* Asegura que la imagen cubra el espacio */
}

#card_flanes .card-body {
    height: 30%; /* Ajusta el espacio para el contenido textual */
}

#columna_flanes{
    padding: 0 15px;
}


* {
    font-family: 'cabin';
}

.mifondo {
    background-color: #373A3C;
}

.contenedor-principal {
    margin-top: 2%;
    padding: 5% 15% 0 15%;
}

.contenedor-2 {
    margin-top: 2%;
    padding: 0% 8%;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #373a3c;
    padding-top: 13px;
}

h1.espacio {
    width: 425px;   
}

hr {
    margin: 5% 0;
    height: 1pt;
    background-color: #000000 !important;
    opacity: 1 !important;
}

.borde-bot{
    border-bottom: 2px solid;
    width: 215px;
    margin-bottom: 5%;
}


.sep-5{
    margin: 5% 0;
}

.carousel-indicators {
    margin-bottom: 0rem !important;

    li.circulo {
        margin-top: 80px;
        width: 15px;
        height: 15px;
        background-color: #333a40;
        border-radius: 50%;
    }
}


.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

a.navbar-brand {
    width: 137px;
    height: 46px;
    font-size: 37px;
    font-family: "Lobster", cursive;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.navbar-nav a {
    color: white;
}

.newsletter-section {
    background-color: #DC3545;
    color: white;
    padding: 17%;
    /* Ajusta según sea necesario */
}

.transparent-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.transparent-button:hover {
    background-color: white;
    color: #DC3545;
}

.fondo-pie {
    background-color: #373A3C;

}

.newsletter-section h3 span {

    width: 137px;
    height: 46px;
    font-size: 30px;
    font-family: "Lobster", cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}


.newsletter-section h3 span {

    width: 137px;
    height: 46px;
    font-size: 30px;
    font-family: "Lobster", cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}

.fondo-pie span {
    width: 137px;
    height: 46px;
    font-size: 37px;
    font-family: "Lobster", cursive;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #ffffff;
}




